#main {
    
     height:425;
    background-color: white;
    background-image: linear-gradient(white,yellow);
}

.mainhead {
    height:80;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    padding-top: 300px;
    
}

.belowline {
    font-style: italic;
    font-size: 25px;
    text-align: center;
}
.text2{
    background-image: linear-gradient(bisque,white);
    text-align:center;
    font-size: x-large;
    font-weight: bold;
}
.mapbg{
    
    background-image: url("https://www.uptourism.gov.in/images/happeningbg.png");
    background-size: cover;
    background-position:center;

}
.text3
{
    text-align: center;
    font-size:x-large;
    font-style: oblique;
}
.text4{
    text-align: center;
    font-size:medium;
    font-style: italic;
    padding: 40px;
}
#mapanime{
animation-name:mapimage;
animation-duration: 5s;
animation-iteration-count:initial;
}
@keyframes mapimage {
    from {
        margin-top: 400px;
    }
    to {
        margin-top: 0px;
    }
}