body{
    background-color: rgba(214,214,185,0.5);
}
.mainImageContainer{
    margin: 0;
}
.topImage{
    height: 350px;
    width: 100vw;
}
.textContainer{
    padding-top: 8px;
    padding-bottom: 8px;
}
.titleText{
    text-align: center;
    font-size: xx-large;
    font-weight: 800;
    font-family: 'Sofia', sans-serif;
    color: #FF731D;
}
.description{
    padding-top: 8px;
    padding-left: 5px;
    font-size: x-large;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.highlight{
    color: #FF8787;
}

/* css fot the gallery  section  */
.rajasthanMainContainer{
    width: 100vw;
    height: 500px;
}
.headingContainer{
    padding-top: 10px;
}
.headingContainer .titleText{
    padding-bottom: 8px;
    font-size: xx-large;
    font-weight: 900;
}
.ImageContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 15px;
}



.container {
  width: 280px;
  height: 400px;
  background-color: black;
  background-size: cover;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px #000;
        box-shadow: 0 0 5px #000;
  }

.overlay {
  width: 100%;
  height: 100%;  
  background: rgba(77, 77, 77, .9);
  color: #FEF5DF;
  opacity: 0;
  transition: all 0.5s;
  font-family: 'Playfair Display', serif;
  border-radius: 5px;
}


.items {
  padding-left: 20px;
  letter-spacing: 3px;
}

.head {
  font-size: 30px;
  line-height: 40px;
  
  transform: translateY(40px);
  transition: all 0.7s;
}
.container:hover .overlay {
  opacity: 1;
}
#one{
    background: url("../Images/Hawa-Mahal.webp");
}
#two{
    background: url("../Images/mountAbu.jpg");
}
#three{
    background: url("../Images/dalBattiChurma.jpg");
}
#four{
    background: url("../Images/desert.jpg");
}
.imageCardsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.imageCards{
    box-shadow: -10px -10px 15px rgba(214,214,185,0.5),
    8px 8px 25px rgba(0,0,0,0.5);
    border: 1px solid #fff ;
    border-radius: 16px;
    background-color: #fefee4;
}
.imageCardsDescription{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: 400;
    justify-items: center;
    padding: 5px;
    padding-top: 10px;
    text-align: center;

}